

<div class="row">
  <div class="col-md-12">
    <div class="todo-ui">
      <div class="todo-sidebar">
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
              <span class="caption-subject font-green-sharp bold uppercase">我的项目 </span>
              <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view project list</span>
            </div>
            <div class="actions">
              <div class="btn-group">
                <a class="btn green btn-circle btn-outline btn-sm todo-projects-config" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                  <i class="icon-settings"></i> &nbsp;
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;"> 创建项目 </a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"> Pending
                      <span class="badge badge-danger"> 4 </span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;"> Completed
                      <span class="badge badge-success"> 12 </span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;"> Overdue
                      <span class="badge badge-warning"> 9 </span>
                    </a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"> Archived Projects </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="portlet-body todo-project-list-content">
            <div class="todo-project-list">
              <ul class="nav nav-stacked">
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-info"> 6 </span> 西安航建 </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-success"> 2 </span> 世纪龙工业信息化 </a>
                </li>
                <li class="active">
                  <a href="javascript:;">
                    <span class="badge badge-success"> 3 </span> 百川项目管理</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-default"> 14 </span> 华侨联建数据集成 </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-info"> 6 </span> 法利特天建 </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-danger"> 2 </span> 世代运储 </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content-tags">
              <span class="caption-subject font-red bold uppercase">项目标签 </span>
              <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view</span>
            </div>
            <div class="actions">
              <div class="actions">
                <a class="btn btn-circle grey-salsa btn-outline btn-sm" href="javascript:;">
                  <i class="fa fa-plus"></i> Add </a>
              </div>
            </div>
          </div>
          <div class="portlet-body todo-project-list-content todo-project-list-content-tags">
            <div class="todo-project-list">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-danger"> 6 </span> 未完成 </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-info"> 2 </span> 已完成 </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-success"> 14 </span> 运行中 </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-warning"> 6 </span> 已关闭 </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="badge badge-info"> 2 </span> 维护中 </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="todo-content">
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-bar-chart font-green-sharp hide"></i>
              <span class="caption-helper">项目名称:</span> &nbsp;
              <span class="caption-subject font-green-sharp bold uppercase">HJ Mes Project</span>
            </div>
            <div class="actions">
              <div class="btn-group">
                <a class="btn green btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 管理
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;"> 在当前项目中创建模块 </a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"> 综合排序
                      <span class="badge badge-danger"> 4 </span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;"> 创建时间排序
                      <span class="badge badge-success"> 12 </span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;"> 使用频次排序
                      <span class="badge badge-warning"> 9 </span>
                    </a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"> Delete Project </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                    <div class="caption">
                      <h4>
                        <i class=" icon-settings font-green "></i>
                        <span class="caption-subject font-green bold uppercase">系统设置</span>
                      </h4>
                    </div>
                    <div class="actions">
                      <div class="btn-group">
                        <a class="btn green btn-circle btn-outline btn-sm todo-projects-config" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <span>
                            <i class="icon-settings"></i>
                            设置
                            <i class="fa fa-angle-down"></i>
                          </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a href="javascript:;"><i class="fa fa-plus font-green-dark"></i> 添加新的功能 </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-search font-blue-steel"></i> 详情
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-edit font-green-seagreen"></i> 编辑
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-reply-all"></i> 预览
                            </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-remove font-red"></i> 删除 </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="mt-element-overlay">
                      <div class="row">
                        <div class="caption">
                          <!--<h3>Thumbnail label</h3>-->
                          <p>模块描述： 设置系统内部相关参数及初始化功能模块</p>
                          <p>相关角色： admin </p>
                          <p>创建时间： 2017-08-10 </p>
                          <p>状态：<span class="badge badge-success">running</span> <span class="badge badge-default">启用</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                    <div class="caption">
                      <h4>
                        <i class=" icon-settings font-green "></i>
                        <span class="caption-subject font-green bold uppercase">系统设置</span>
                      </h4>
                    </div>
                    <div class="actions">
                      <div class="btn-group">
                        <a class="btn green btn-circle btn-outline btn-sm todo-projects-config" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <span>
                            <i class="icon-settings"></i>
                            设置
                            <i class="fa fa-angle-down"></i>
                          </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a href="javascript:;"><i class="fa fa-plus font-green-dark"></i> 添加新的功能 </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-search font-blue-steel"></i> 详情
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-edit font-green-seagreen"></i> 编辑
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-reply-all"></i> 预览
                            </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-remove font-red"></i> 删除 </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="mt-element-overlay">
                      <div class="row">
                        <div class="caption">
                          <!--<h3>Thumbnail label</h3>-->
                          <p>模块描述： 设置系统内部相关参数及初始化功能模块</p>
                          <p>相关角色： admin </p>
                          <p>创建时间： 2017-08-10 </p>
                          <p>状态：<span class="badge badge-primary">new</span> <span class="badge badge-default">启用</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                    <div class="caption">
                      <h4>
                        <i class=" icon-settings font-green "></i>
                        <span class="caption-subject font-green bold uppercase">系统设置</span>
                      </h4>
                    </div>
                    <div class="actions">
                      <div class="btn-group">
                        <a class="btn green btn-circle btn-outline btn-sm todo-projects-config" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <span>
                            <i class="icon-settings"></i>
                            设置
                            <i class="fa fa-angle-down"></i>
                          </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a href="javascript:;"><i class="fa fa-plus font-green-dark"></i> 添加新的功能 </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-search font-blue-steel"></i> 详情
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-edit font-green-seagreen"></i> 编辑
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-reply-all"></i> 预览
                            </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-remove font-red"></i> 删除 </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="mt-element-overlay">
                      <div class="row">
                        <div class="caption">
                          <!--<h3>Thumbnail label</h3>-->
                          <p>模块描述： 设置系统内部相关参数及初始化功能模块</p>
                          <p>相关角色： admin </p>
                          <p>创建时间： 2017-08-10 </p>
                          <p>状态：<span class="badge badge-primary">running</span> <span class="badge badge-waring">禁用</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                    <div class="caption">
                      <h4>
                        <i class=" icon-settings font-green "></i>
                        <span class="caption-subject font-green bold uppercase">系统设置</span>
                      </h4>
                    </div>
                    <div class="actions">
                      <div class="btn-group">
                        <a class="btn green btn-circle btn-outline btn-sm todo-projects-config" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                         <span>
                            <i class="icon-settings"></i>
                            设置
                            <i class="fa fa-angle-down"></i>
                          </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a href="javascript:;"><i class="fa fa-plus font-green-dark"></i> 添加新的功能 </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-search font-blue-steel"></i> 详情
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-edit font-green-seagreen"></i> 编辑
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-reply-all"></i> 预览
                            </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-remove font-red"></i> 删除 </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="mt-element-overlay">
                      <div class="row">
                        <div class="caption">
                          <!--<h3>Thumbnail label</h3>-->
                          <p>模块描述： 设置系统内部相关参数及初始化功能模块</p>
                          <p>相关角色： admin </p>
                          <p>创建时间： 2017-08-10 </p>
                          <p>状态：<span class="badge badge-primary">new</span> <span class="badge badge-default">启用</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                    <div class="caption">
                      <h4>
                        <i class=" icon-settings font-green "></i>
                        <span class="caption-subject font-green bold uppercase">系统设置</span>
                      </h4>
                    </div>
                    <div class="actions">
                      <div class="btn-group">
                        <a class="btn green btn-circle btn-outline btn-sm todo-projects-config" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <span>
                            <i class="icon-settings"></i>
                            设置
                            <i class="fa fa-angle-down"></i>
                          </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a href="javascript:;"><i class="fa fa-plus font-green-dark"></i> 添加新的功能 </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-search font-blue-steel"></i> 详情
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-edit font-green-seagreen"></i> 编辑
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-reply-all"></i> 预览
                            </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-remove font-red"></i> 删除 </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="mt-element-overlay">
                      <div class="row">
                        <div class="caption">
                          <!--<h3>Thumbnail label</h3>-->
                          <p>模块描述： 设置系统内部相关参数及初始化功能模块</p>
                          <p>相关角色： admin </p>
                          <p>创建时间： 2017-08-10 </p>
                          <p>状态：<span class="badge badge-primary">new</span> <span class="badge badge-default">启用</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                    <div class="caption">
                      <h4>
                        <i class=" icon-settings font-green "></i>
                        <span class="caption-subject font-green bold uppercase">系统设置</span>
                      </h4>
                    </div>
                    <div class="actions">
                      <div class="btn-group">
                        <a class="btn green btn-circle btn-outline btn-sm todo-projects-config" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <span>
                            <i class="icon-settings"></i>
                            设置
                            <i class="fa fa-angle-down"></i>
                          </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a href="javascript:;"><i class="fa fa-plus font-green-dark"></i> 添加新的功能 </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-search font-blue-steel"></i> 详情
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-edit font-green-seagreen"></i> 编辑
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-reply-all"></i> 预览
                            </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                            <a href="javascript:;"><i class="fa fa-remove font-red"></i> 删除 </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="mt-element-overlay">
                      <div class="row">
                        <div class="caption">
                          <!--<h3>Thumbnail label</h3>-->
                          <p>模块描述： 设置系统内部相关参数及初始化功能模块</p>
                          <p>相关角色： <i class="fa fa-users blue"></i> admin </p>
                          <p>创建时间： <i class="fa fa-calendar"></i> 2017-08-10 </p>
                          <p>状态：<span class="badge badge-primary">new</span> <span class="badge badge-default">启用</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>

