<div class="portlet light bordered" id="form_wizard_1">
  <div class="portlet-title">
    <div class="caption">
      <i class=" icon-layers font-green bold"></i>
      <span class="caption-subject font-green bold uppercase"> 创建模版 -<span class="step-title">第（1）步</span></span>
    </div>
  </div>
  <div class="portlet-body form">
    <form class="form-horizontal" action="#" id="submit_form" method="POST" novalidate="novalidate">
      <div class="form-wizard">
        <div class="form-body">
          <ul class="nav nav-pills nav-justified steps">
            <li class="active">
              <a href="#tab1" data-toggle="tab" class="step" aria-expanded="true">
                <span class="number"> 1 </span>
                <span class="desc bold">
                                                                <i class="fa fa-check"></i> 【 选择模版 】 </span>
              </a>
            </li>
            <li class="">
              <a href="#tab2" data-toggle="tab" class="step" aria-expanded="false">
                <span class="number"> 2 </span>
                <span class="desc bold">
                                                                <i class="fa fa-check"></i> 【 模版信息 】 </span>
              </a>
            </li>
            <li>
              <a href="#tab3" data-toggle="tab" class="step active">
                <span class="number"> 3 </span>
                <span class="desc bold">
                                                                <i class="fa fa-check"></i> 【 设置模版 】 </span>
              </a>
            </li>
            <li>
              <a href="#tab4" data-toggle="tab" class="step">
                <span class="number"> 4 </span>
                <span class="desc bold">
                                                                <i class="fa fa-check"></i> 【 保存模版 】 </span>
              </a>
            </li>
          </ul>
          <div id="bar" class="progress progress-striped" role="progressbar">
            <div class="progress-bar progress-bar-success" style="width: 25%;"> </div>
          </div>
          <div class="tab-content">
            <div class="alert alert-danger display-none" style="display: none;">
              <button class="close" data-dismiss="alert"></button> 模版信息不完整，请检查后继续. </div>
            <div class="alert alert-success display-none" style="display: none;">
              <button class="close" data-dismiss="alert"></button> 模版信息验证成功! </div>
            <div class="tab-pane active" id="tab1">
              <h3 class="block">请选择一种布局</h3>
              <!--选择模版-->
              <div class="portfolio-content portfolio-1">
                <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                  <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn dark btn-outline uppercase"> 全部模版
                    <div class="cbp-filter-counter"></div>
                  </div>
                  <div data-filter=".grid" class="cbp-filter-item btn dark btn-outline uppercase"> 数据网格模版
                    <div class="cbp-filter-counter"></div>
                  </div>
                  <div data-filter=".tree" class="cbp-filter-item btn dark btn-outline uppercase"> 树模版
                    <div class="cbp-filter-counter"></div>
                  </div>
                  <div data-filter=".chart" class="cbp-filter-item btn dark btn-outline uppercase"> 图表模版
                    <div class="cbp-filter-counter"></div>
                  </div>
                  <div data-filter=".complex" class="cbp-filter-item btn dark btn-outline uppercase"> 复杂布局
                    <div class="cbp-filter-counter"></div>
                  </div>
                </div>
                <div id="js-grid-juicy-projects" class="cbp">
                  <div class="cbp-item grid">
                    <div class="cbp-caption">
                      <div class="cbp-caption-defaultWrap">
                        <img src="../assets/pages/img/template/danbiao600.png" width="300" alt=""> </div>
                      <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                            <a href="../assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">详情</a>
                            <a href="../assets/global/img/portfolio/1200x900/57.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Dashboard<br>by Paul Flavius Nechita">预览</a>
                            <a href="javascript:void(0);"  class="cbp-l-caption-buttonRight btn red uppercase btn red uppercase chooseName" data-temp="master|单表模版">选择</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">单表模版</div>
                    <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">工具栏 / 表格</div>
                  </div>
                  <div class="cbp-item grid tree" >
                    <div class="cbp-caption">
                      <div class="cbp-caption-defaultWrap">
                        <img src="../assets/pages/img/template/shubiao600.png" width="300" alt=""> </div>
                      <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                            <a href="../assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">详情</a>
                            <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="To-Do Dashboard<br>by Tiberiu Neamu">预览</a>
                            <a href="javascript:void(0);"  class="cbp-l-caption-buttonRight btn red uppercase btn red uppercase chooseName" data-temp="tree-slave|左树-右表模版">选择</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cbp-l-grid-projects-title uppercase text-center">左树-右表</div>
                    <div class="cbp-l-grid-projects-desc uppercase text-center">树 / 工具栏 ／ 表格</div>
                  </div>
                  <div class="cbp-item chart grid" >
                    <div class="cbp-caption">
                      <div class="cbp-caption-defaultWrap">
                        <img src="../assets/pages/img/template/tubiao600.png" width="300px" alt=""> </div>
                      <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                            <a href="../assets/global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">详情</a>
                            <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/4900333&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
                               class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Events and  More<br>by Tiberiu Neamu">预览</a>
                            <a href="javascript:void(0);"  class="cbp-l-caption-buttonRight btn red uppercase btn red uppercase chooseName" data-temp="master-slaveChart|图表模版">选择</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cbp-l-grid-projects-title uppercase text-center">图表</div>
                    <div class="cbp-l-grid-projects-desc uppercase text-center">工具栏 / 表格 ／ echart</div>
                  </div>
                  <div class="cbp-item grid complex">
                    <div class="cbp-caption">
                      <div class="cbp-caption-defaultWrap">
                        <img src="../assets/pages/img/template/zhuziduoyeqian600.png" width="300" alt=""> </div>
                      <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                            <a href="../assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">详情</a>
                            <a href="../assets/global/img/portfolio/1200x900/4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="WhereTO App<br>by Tiberiu Neamu">预览</a>
                            <a href="javascript:void(0);"  class="cbp-l-caption-buttonRight btn red uppercase btn red uppercase chooseName" data-temp="master-slave-multiTab|子表多页签模版">选择</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cbp-l-grid-projects-title uppercase text-center">主／子表多页签</div>
                    <div class="cbp-l-grid-projects-desc uppercase text-center">工具栏 / 多页签 ／ 图表</div>
                  </div>
                  <div class="cbp-item grid " >
                    <div class="cbp-caption">
                      <div class="cbp-caption-defaultWrap">
                        <img src="../assets/pages/img/template/zhuzibiao600.png" width="300px" alt=""> </div>
                      <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                          <div class="cbp-l-caption-body">
                            <a href="../assets/global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">详情</a>
                            <a href="../assets/global/img/portfolio/1200x900/50.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="World Clock Widget<br>by Paul Flavius Nechita">预览</a>
                            <a href="javascript:void(0);"  class="cbp-l-caption-buttonRight btn red uppercase btn red uppercase chooseName" data-temp="master-slaver|主子表模版">选择</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cbp-l-grid-projects-title uppercase text-center">主子表</div>
                    <div class="cbp-l-grid-projects-desc uppercase text-center">工具栏 / 表格</div>
                  </div>
                </div>
              </div>
              <input name="templateName" type="hidden">
              <!--选择模版-->
             <!-- <div class="form-group has-success">
                <label class="control-label col-md-3">Username
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="username" aria-required="true" aria-invalid="false" aria-describedby="username-error"><span id="username-error" class="help-block help-block-error valid" style="display: none;"></span>
                  <span class="help-block"> Provide your username </span>
                </div>
              </div>
              <div class="form-group has-success">
                <label class="control-label col-md-3">Password
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-4">
                  <input type="password" class="form-control" name="password" id="submit_form_password" aria-required="true" aria-invalid="false" aria-describedby="submit_form_password-error"><span id="submit_form_password-error" class="help-block help-block-error valid" style="display: none;"></span>
                  <span class="help-block"> Provide your password. </span>
                </div>
              </div>
              <div class="form-group has-success">
                <label class="control-label col-md-3">Confirm Password
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-4">
                  <input type="password" class="form-control" name="rpassword" aria-required="true" aria-invalid="false" aria-describedby="rpassword-error"><span id="rpassword-error" class="help-block help-block-error valid" style="display: none;"></span>
                  <span class="help-block"> Confirm your password </span>
                </div>
              </div>
              <div class="form-group has-success">
                <label class="control-label col-md-3">Email
                  <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="email" aria-required="true" aria-invalid="false" aria-describedby="email-error"><span id="email-error" class="help-block help-block-error valid" style="display: none;"></span>
                  <span class="help-block"> Provide your email address </span>
                </div>
              </div>-->
            </div>
            <div class="tab-pane" id="tab2">
              <h3 class="block">设置模版基本信息</h3>
              <div class="form-group">
                <label class="control-label col-md-3">模版标题
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="templateName" />
                  <span class="help-block">模版标题建议使用中文</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">模版图标
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="templateIcon" />
                  <span class="help-block">（如：fa fa-users／icon-users 等 Font Awesome Icon）</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">启用／禁用</label>
                <div class="col-md-4">
                  <div class="mt-radio-inline">
                    <label class="mt-radio">
                      <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked> 启用
                      <span></span>
                    </label>
                    <label class="mt-radio">
                      <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2"> 禁用
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
              <label class="control-label col-md-3">模版编码名称
                <span class="required"> * </span>
              </label>
              <div class="col-md-4">
                <input type="text" class="form-control" name="templateNameCode" />
                <span class="help-block"> 编码名称是标识模版唯一性的名称 </span>
              </div>
            </div>
              <div class="form-group">
                <label class="control-label col-md-3">控制器
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="templateController" />
                  <span class="help-block"> 控制器用来控制处理模版的处理程序 </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">备注</label>
                <div class="col-md-4">
                  <textarea class="form-control" rows="5" name="remarks"></textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab3">
              <h3 class="block">编辑模版内容</h3>
              <div class="row">
                <div class="col-md-4">
                  <div class="portlet light bordered" id="blockui_sample_1_portlet_body">
                    <div class="portlet-title">
                      <div class="caption">
                        <i class="fa fa-list-alt font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold">模版属性</span>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div id="SettingTree"></div>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab4">
              <h3 class="block">检查配置项</h3>
                <div class="row">
                  <div class="col-md-3">
                    <div class="portlet light bordered">
                      <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-indent font-green-sharp"></i>
                          <span class="caption-subject font-green-sharp bold">属性校验</span>
                        </div>
                      </div>
                      <div class="portlet-body">
                        <div id="checkJsonTree"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="portlet light bordered">
                      <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-indent font-green-sharp"></i>
                          <span class="caption-subject font-green-sharp bold">详细</span>
                        </div>
                      </div>
                      <div class="portlet-body">
                        <table class="table table-bordered table-striped">
                          <tbody>
                          <tr>
                            <td> 标题 </td>
                            <td>
                              <i class="fa fa-check font-green-jungle"></i> 添加
                            </td>
                          </tr>
                          <tr>
                            <td> 提示内容 </td>
                            <td>
                              <i class="fa fa-check font-green-jungle"></i> 添加数据
                            </td>
                          </tr>
                          <tr>
                            <td> 动作类型 </td>
                            <td>
                              <i class="fa fa-check font-green-jungle"></i> 弹出窗体
                            </td>
                          </tr>
                          <tr>
                            <td> API </td>
                            <td>
                              <i class="fa fa-remove font-red"><strong> 数据原API未设置</strong></i>
                            </td>
                          </tr>
                          <tr>
                            <td> 主键 </td>
                            <td>
                              <i class="fa fa-remove font-red"><strong> 主键为设置</strong></i>
                            </td>
                          </tr>
                          <tr>
                            <td>操作类型</td>
                            <td>
                              <i class="fa fa-check font-green-jungle"></i> 删除
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <h3>选择的模版为： <span id="chooseTemplateName"></span></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <a href="javascript:;" class="btn default button-previous disabled" style="display: none;">
                <i class="fa fa-angle-left"></i> 上一步 </a>
              <a href="javascript:;" class="btn btn-outline green button-next"> 继续
                <i class="fa fa-angle-right"></i>
              </a>
              <a href="javascript:;" class="btn green button-submit" style="display: none;"> 保存模版
                <i class="fa fa-check"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
