<div class="row">
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>注意!</strong> 模版管理可以创建的模版进行维护、查看模版使用情况
    <a href="" class="alert-link"> 改变模版配置可能会引起已经创建的功能出现问题，请确认修改内容后进行设置 </a>
  </div>
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-share font-red-sunglo"></i>
        <span class="caption-subject bold uppercase">模版列表</span>
      </div>
      <div class="actions">
        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
          <i class="icon-cloud-upload"></i>
        </a>
        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
          <i class="icon-wrench"></i>
        </a>
        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
          <i class="icon-trash"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-users"></i> 用户管理</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-arrow-right"></i> 组织机构管理</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"> <i class="fa fa-user-secret"></i> 权限管理</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-cog"></i> 数据字典</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-cog"></i> 工艺规程</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-list-ol"></i> 工作计划</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-anchor"></i> 审批流程</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-cog"></i> 模块管理</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-6">
          <div class="mt-element-ribbon bg-hover-grey-steel bg-grey-steel-opacity">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase"><i class="fa fa-dashboard"></i> 进度看板</div>
            <div class="actions pull-right">
              <div class="btn-group">
                <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="icon-wrench"></i> Actions
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-search"></i> 详情</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-list"></i> 应用记录</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-edit"></i>  编辑模版</a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa fa-trash"></i> 删除模版</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="ribbon-content">模版的描述信息关于......</p>
          </div>
        </div>
        <div class="pull-right">
          <ul class="pagination pagination-right">
            <li>
              <a href="javascript:;">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li class="active">
              <a href="javascript:;"> 1 </a>
            </li>
            <li>
              <a href="javascript:;"> 2 </a>
            </li>
            <li>
              <a href="javascript:;"> 3 </a>
            </li>
            <li>
              <a href="javascript:;"> 4 </a>
            </li>
            <li>
              <a href="javascript:;"> 5 </a>
            </li>
            <li>
              <a href="javascript:;"> 6 </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>

</div>
