<div class="portlet light bordered" id="blockui_sample_1_portlet_body">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-indent font-green-sharp"></i>
      <span class="caption-subject font-green-sharp bold">列编辑</span>
    </div>
  </div>
  <div class="portlet-body">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab_1_1" data-toggle="tab"> 属性 </a>
      </li>
      <li>
        <a href="#tab_1_2" data-toggle="tab"> 自定义列 </a>
      </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_1">
          <table id="button" class="table table-bordered table-striped">
            <tbody>
            <tr>
              <td width="120"> 字段 </td>
              <td>
                <a data-type="text" href="#" id="field" data-pk="1" class="editable editable-click"></a>
              </td>
              <td>
                <span class="text-muted"> 设置列与数据源绑定的字段名称 </span>
              </td>
            </tr>
            <tr>
              <td> 列标题 </td>
              <td>
                <a href="#" data-type="text" id="header"  class="editable editable-click "></a>
              </td>
              <td>
                <span class="text-muted"> </span>
              </td>
            </tr>
            <tr>
              <td> 列宽 </td>
              <td>
                <a href="javascript:;" id="colwidth"  class="editable editable-click "></a>
              </td>
              <td>
                <span class="text-muted"> 单位为：像素</span>
              </td>
            </tr>
            <tr>
              <td> 列类型 </td>
              <td>
                <a href="javascript:;" id="coltype"  class="editable editable-click " data-type="select"></a>
              </td>
              <td>
                <span class="text-muted"> 文本、多选、单选、日期、图片、进度条等类型</span>
              </td>
            </tr>
            <tr>
              <td> 对齐方式 </td>
              <td>
                <a href="javascript:;" id="colalign" class="editable editable-click " data-value="" data-type="select"></a>
              </td>
              <td>
                <span class="text-muted"> 左，中，右 </span>
              </td>
            </tr>
            <tr>
              <td> 排序方式 </td>
              <td>
                <a href="#" id="colsorting" class="editable editable-click " data-type="select" data-title="设置排序方式"></a>
              </td>
              <td>
                <span class="text-muted"> 客户端或者服务端 </span>
              </td>
            </tr>
            <tr>
              <td> 是否隐藏 </td>
              <td>
                <a href="javascript:;" id="colhide" data-type="select2"></a>
              </td>
              <td>
                <span class="text-muted"> 设置隐藏的列将不会显示在页面上 </span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="tab_1_2">
          <table id=" buttonEvent" class="table table-bordered table-striped">
            <tbody>
            <tr>
              <td> 自定义字段 <input type="checkbox"/></td>
              <td>
                <table class="table table-bordered table-responsive table-condensed">
                  <thead>
                  <tr class="text-center">
                    <td>数据值</td>
                    <td>显示值</td>
                    <td>背景颜色</td>
                    <td>字体颜色</td>
                    <td width="50"></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-center">
                    <td>status</td>
                    <td>状态</td>
                    <td>green</td>
                    <td>#f1f2f3</td>
                    <td><a class="btn btn-warning" href="javascript:;"><i class="fa fa-remove font-red"></i> 删除</a></td>
                  </tr>
                  <tr class="text-center">
                    <td><input class="form-control" type="text"/></td>
                    <td><input class="form-control" type="text"/></td>
                    <td><input class="form-control" type="text"/></td>
                    <td><input class="form-control" type="text"/></td>
                    <td><a class="btn btn-success" href="javascript:;"><i class="fa fa-plus green"></i> 添加</a> </td>
                  </tr>

                  </tbody>
                </table>
              </td>
              <td>
                <span class="text-muted"> 对于一列上的数据，可以设置在不同数据结果下，显示在页面中背景、字体颜色，转换值 </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

    </div>
  </div>
</div>
