<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-settings font-dark"></i>
      <span class="caption-subject font-dark sbold uppercase">创建项目模块</span>
    </div>
  </div>
  <div class="portlet-body form">
    <form class="form-horizontal" role="form">
      <div class="form-body">
        <div class="form-group">
          <label class="col-md-3 control-label">项目选择</label>
          <div class="col-md-9">
            <select class="form-control">
              <option>项目 1</option>
              <option>项目 2</option>
              <option>项目 3</option>
              <option>项目 4</option>
              <option>项目 5</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">模块标题</label>
          <div class="col-md-9">
            <input type="text" class="form-control" placeholder="请输入项目标题">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">图标</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-photo"></i></span>
              <input type="text" class="form-control input-inline input-medium" placeholder="Awesome Font Icon">
              <span class="help-inline"> (请使用如：fa fa-user/icon-users 等 Font Awesome Icon). </span>
            </div>

          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">模块描述</label>
          <div class="col-md-9">
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">启用／禁用</label>
          <div class="col-md-9">
            <div class="mt-radio-inline">
              <label class="mt-radio">
                <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked> 启用
                <span></span>
              </label>
              <label class="mt-radio">
                <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2"> 禁用
                <span></span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">运行状态</label>
          <div class="col-md-9">
            <select class="form-control input-medium input-inline" disabled>
              <option selected>新项目</option>
              <option>配置完成</option>
              <option>运行中</option>
              <option>维护中</option>
              <option>关闭</option>
            </select>
            <span class="help-inline"> 新建项目运行状态无法选择. </span>
          </div>

        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn blue"><i class="fa fa-check"></i> 保存 </button>
            <button type="submit" class="btn green"><i class="fa fa-arrow-right"></i> 保存并继续 </button>
            <button type="button" class="btn default"> 取消 </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
